In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf

In [2]:
pd.set_option('max_columns',1000)
pd.set_option('max_row',300)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [3]:
#查看data
test_df= pd.read_table("./data/test.txt",header = None, delim_whitespace=True)
test_df.describe()

C:\Users\gaoyuting\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25
count,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000
mean,109.87401,81.86556,24.07621,0.57324,48.92757,472.77882,579.36570,1417.74318,1201.99581,8.01437,11.57403,282.10475,2228.53886,8519.92863,1.09463,42.88281,265.58417,2334.53394,8063.75478,9.31628,0.02310,347.71610,2228.50758,97.75769,20.77684,12.46574
std,62.81785,57.78525,14.76155,0.30996,32.48978,26.40509,37.26475,105.77559,118.72518,3.61698,5.43543,146.15036,145.10242,335.23213,0.12732,3.21943,137.78348,128.05174,83.96796,0.74706,0.00462,27.69189,145.21529,5.36326,9.88989,5.93448
min,1.00000,1.00000,0.00000,0.00000,0.00000,445.00000,535.72000,1243.78000,1029.03000,3.91000,5.71000,137.14000,1915.00000,7983.34000,0.93000,36.26000,129.35000,2027.86000,7854.11000,8.34340,0.02000,304.00000,1915.00000,84.93000,10.12000,6.12440
25%,55.00000,35.00000,10.00470,0.25070,20.00000,445.00000,549.46000,1351.49000,1122.07000,3.91000,5.72000,139.67750,2211.87000,8320.25000,1.02000,41.86000,131.34000,2387.90000,8061.71000,8.66300,0.02000,330.00000,2212.00000,100.00000,10.84000,6.50455
50%,112.00000,72.00000,25.00150,0.70000,40.00000,462.54000,555.80000,1366.84000,1133.30000,7.05000,9.03000,194.73000,2223.02000,8354.98500,1.02000,42.22000,183.26000,2388.06000,8080.55000,9.30340,0.02000,334.00000,2223.00000,100.00000,14.90000,8.93410
75%,164.00000,118.00000,41.99810,0.84000,80.00000,491.19000,607.23000,1497.78250,1304.74000,10.52000,15.49000,394.33000,2323.94000,8776.06250,1.26000,45.29000,371.46000,2388.13000,8125.89000,9.37140,0.03000,369.00000,2324.00000,100.00000,28.52000,17.11123
max,218.00000,364.00000,42.00800,0.84200,100.00000,518.67000,644.04000,1606.64000,1431.08000,14.62000,21.61000,555.61000,2388.28000,9158.70000,1.30000,48.19000,523.32000,2389.80000,8226.66000,11.01710,0.03000,397.00000,2388.00000,100.00000,39.33000,23.59160

In [4]:
column_name = ['engine_id', 'cycle', 'setting1', 'setting2', 'setting3', 's1', 's2', 's3',
               's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14',
               's15', 's16', 's17', 's18', 's19', 's20', 's21']

test_df.columns = column_name
test_df.describe()

,engine_id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,s11,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
count,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000,29820.00000
mean,109.87401,81.86556,24.07621,0.57324,48.92757,472.77882,579.36570,1417.74318,1201.99581,8.01437,11.57403,282.10475,2228.53886,8519.92863,1.09463,42.88281,265.58417,2334.53394,8063.75478,9.31628,0.02310,347.71610,2228.50758,97.75769,20.77684,12.46574
std,62.81785,57.78525,14.76155,0.30996,32.48978,26.40509,37.26475,105.77559,118.72518,3.61698,5.43543,146.15036,145.10242,335.23213,0.12732,3.21943,137.78348,128.05174,83.96796,0.74706,0.00462,27.69189,145.21529,5.36326,9.88989,5.93448
min,1.00000,1.00000,0.00000,0.00000,0.00000,445.00000,535.72000,1243.78000,1029.03000,3.91000,5.71000,137.14000,1915.00000,7983.34000,0.93000,36.26000,129.35000,2027.86000,7854.11000,8.34340,0.02000,304.00000,1915.00000,84.93000,10.12000,6.12440
25%,55.00000,35.00000,10.00470,0.25070,20.00000,445.00000,549.46000,1351.49000,1122.07000,3.91000,5.72000,139.67750,2211.87000,8320.25000,1.02000,41.86000,131.34000,2387.90000,8061.71000,8.66300,0.02000,330.00000,2212.00000,100.00000,10.84000,6.50455
50%,112.00000,72.00000,25.00150,0.70000,40.00000,462.54000,555.80000,1366.84000,1133.30000,7.05000,9.03000,194.73000,2223.02000,8354.98500,1.02000,42.22000,183.26000,2388.06000,8080.55000,9.30340,0.02000,334.00000,2223.00000,100.00000,14.90000,8.93410
75%,164.00000,118.00000,41.99810,0.84000,80.00000,491.19000,607.23000,1497.78250,1304.74000,10.52000,15.49000,394.33000,2323.94000,8776.06250,1.26000,45.29000,371.46000,2388.13000,8125.89000,9.37140,0.03000,369.00000,2324.00000,100.00000,28.52000,17.11123
max,218.00000,364.00000,42.00800,0.84200,100.00000,518.67000,644.04000,1606.64000,1431.08000,14.62000,21.61000,555.61000,2388.28000,9158.70000,1.30000,48.19000,523.32000,2389.80000,8226.66000,11.01710,0.03000,397.00000,2388.00000,100.00000,39.33000,23.59160

In [69]:
def test_new_generator(test_data, sequence_length=5, window_size = 9):
    """
    选取每个engine最后的batch，组成新的dataset
    """
    engine_ids = list(test_data["engine_id"].unique())
    df_new = []
    feature_number = test_data.shape[1]-3 #计算feature 个数   
    for _id in set(test_data['engine_id']):
        test_of_one_id =  test_data[test_data['engine_id'] == _id]
        window_temp =test_of_one_id.iloc[-1-sequence_length-window_size:-1,:]
        #df_new.iloc[0+(_id-1)*(sequence_length+window_size-1):(sequence_length+window_size-1)*_id,:] = window_temp
        if _id == 1:
            df_new = window_temp
        else:
            df_new = df_new.append(window_temp)
    return df_new

In [70]:
test_new = test_new_generator(test_df)

In [71]:
#est_new = np.array(test_new)

In [72]:
test_new.shape[0]/14

218.0

In [75]:
def test_batch_generator(test_data, sequence_length=5, window_size = 10):
    """
    这里的seq 和 win size 必须要和前面training的一致
    """
    engine_ids = list(test_data["engine_id"].unique())
    index_list=[]
    temp = test_data.copy()
    x_shape = (218, sequence_length, window_size, feature_number)
    x_batch = np.zeros(shape=x_shape, dtype=np.float32)
    for _id in set(test_data['engine_id']):
        test_of_one_id =  test_data[test_data['engine_id'] == _id]

        #for i in range(test_of_one_id.shape[0]):
        for seq in range(sequence_length):
             x_batch[_id-1][seq] = test_data.iloc[i+seq:i+seq + window_size, 2:-1].values
    
    return x_batch

In [74]:
x_batch,y_batch = test_batch_generator(test_new)

ValueError: could not broadcast input array from shape (0) into shape (5)

In [58]:
x_batch = tf.reshape(test_new,[5,10,26,218])

InvalidArgumentError: Input to reshape is a tensor with 84994 values, but the requested shape has 283400 [Op:Reshape]